<!-- jumbotron-->
    <div class="page-title d-flex" aria-label="Page title">
      <div class="container text-left align-self-center">
        <nav aria-label="breadcrumb">

        </nav>
        <h1 class="page-title-heading">Back Office Commandes</h1>
      </div>
    </div>

    <!-- Backoffice Orders-->
<section class="container py-5 mb-4">
  <h1 class="h4 block-title text-center pt-3">Les commandes de mon site CatCatsLand</h1>
          <div class="table-responsive">
            <table class= 'table table-striped'>
              <tr class= 'bg-gradient'><th>#Numéro</th>
                <th>Prix total</th>
                <th>Le numéro client lié à la commande</th>
              </tr>
          
            <% @orders.each do |order|%>
              <tr>
                <td><%=order.id%></td>
                <td><%=order.amount%> € </td>
                <td><%=order.stripe_customer_id%></td>
              </tr>
              <% end %>
            </table>
          </div>
</section>