<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour    ,</h1>
    <h1>Nous vous remercions pour votre commande.</h1><br>
    <p>Retrouvez vos photos en pièces jointes!</p><br><br><br>
    <p>A bientôt sur Cats-Cats-Land !</p>
  </body>
</html>